$body-color : #333;

/* header */
$header-background : #417690;

/* breadcrumbs */
$breadcrumbs-background :  #79aec8;
$breadcrumbs-color  : #c4dce8;
$breadcrumbs-a-color  : #fff;

/* forms */
$form-label-required : #333;